@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Pacifico&display=swap');

html {
    background: url("https://i.redd.it/0as8ohfs6h921.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    overflow: hidden
  }

body{
    width: 100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
}

h1 {
    margin:auto;
    color:#d3c9b9;
    text-align: center; 
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 100px;  
}

#app-description {
    margin:auto;
    color:wheat;
    text-align: center; 
    font-family: Roboto;
    font-size: 20px;  
    width: 50%;   
}

#countdown{
    font-size: 20vw;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    color:#ffdbc5;
    text-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11); 
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;	

    animation-duration: 0.7s;	
    -webkit-animation-duration: 0.7s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;		

    visibility: visible;	
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}



@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}

#start-button{
    bottom: 20%;
    text-align: center;
    align-self: center;
}

.minute-button{
    width: 100px;
    height:100px;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    color:#fcf5ee;
    background:#eb4559;
    padding:50px;
    border-radius: 50%;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.4s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.minute-button:hover{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    color:#fcf5ee;
    background:#1f4068;
    cursor: pointer;
    padding:50px;
    border-radius: 30px;
    border: none;
    outline: none;
}


#countdown span{
    color:antiquewhite;
}

#buttons{
    margin-top:50px;
    gap:20px;
    color:white;
    text-align: center;
    flex-direction: column;
    align-self: center;
    align-content: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
    animation-name: expandUp;
    -webkit-animation-name: expandUp;	

    animation-duration: 0.7s;	
    -webkit-animation-duration: 0.7s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;		

    visibility: visible;	
}

#buttons p{
    font-size:30px;
}

.buttonnies{
    justify-content: center;
    display: flex;
    gap:30px;
    margin-bottom:20px;
}


#cancel{
    position: relative;
    left: 50%;
    margin-top:50px;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    outline: none;
    border: none;
    padding:20px;
    font-size: 13px;
    background-color:#e97171;
    color:white;
    border-radius: 10px;

}

#cancel:hover {
    background-color: #cf6868;
    cursor: pointer;
}

.take-break{
    padding:30px;
    font-size: 20px;
    color:#5f4f55;
}

.take-break:hover{
    color:#504247;
    cursor: pointer;
}

.main-header{
    position: relative;
    top:0px;
    margin-bottom: 30px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
a{
    color:wheat;
    text-decoration: none;
}

a:link{
    color:#ff847c;
}
a:visited{
    color:#ff847c;
}
